SharpMap/Web/Wfs/Schemas/1.1.0/wsdl/wfs-soap-bindings.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
   targetNamespace="http://www.opengis.net/wfs/soap"
   xmlns:wfs-req="http://www.opengis.net/wfs/requests"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:documentation xmlns:dc="http://purl.org/dc/elements/1.1/">
      <dc:date>2004-06-07</dc:date>
      <dc:description>
         Adds SOAP (over HTTP) protocol bindings for WFS 1.1 interfaces.
      </dc:description>
   </wsdl:documentation>

   <wsdl:import namespace="http://www.opengis.net/wfs/requests"
                location="./wfs-xml-interfaces.wsdl"/>

   <wsdl:binding name="wfs-SOAP" type="wfs-req:wfs">
      <wsdl:documentation>
         WFS interface bound to SOAP over HTTP/1.1.
      </wsdl:documentation>
      <soap:binding style="document"
                    transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="wfs.getCapabilities">
         <soap:operation/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault name="ServiceExceptionReport" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.describeFeatureType">
         <soap:operation/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault name="ServiceExceptionReport" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.getFeature">
         <soap:operation/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault name="ServiceExceptionReport" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.getFeatureWithLock">
         <soap:operation/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault name="ServiceExceptionReport" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.getGMLObject">
         <soap:operation/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault name="ServiceExceptionReport" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.lockFeature">
         <soap:operation/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault name="ServiceExceptionReport" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.transaction">
         <soap:operation/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault name="ServiceExceptionReport" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
