SharpMap.Web/Web/Wfs/Schemas/1.1.0/wsdl/wfs-xml-interfaces.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.opengis.net/wfs/requests" xmlns:wfs="http://www.opengis.net/wfs" xmlns:ows="http://www.opengis.net/ows" xmlns:wfs-req="http://www.opengis.net/wfs/requests" xmlns:wfs-resp="http://www.opengis.net/wfs/responses" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation xmlns:dc="http://purl.org/dc/elements/1.1/">
    <dc:identifier>urn:opengis:spec:wfs:wsdl-1.1:interfaces:1.0.1</dc:identifier>
    <dc:date>2004-06-01</dc:date>
    <dc:description>
         This is the the normative abstract service interface definition
         for the  OpenGIS Web Feature Service, v1.1. The WSDL 1.1 syntax is 
         used to describe the interface signatures and message structures.
      </dc:description>
  </wsdl:documentation>
  <wsdl:import namespace="http://www.opengis.net/wfs/responses" location="./wfs-responses.wsdl"/>
  <wsdl:types>
    <wsdl:documentation>
         Convenience schema that defines all common WFS message elements.
      </wsdl:documentation>
    <xsd:schema targetNamespace="http://www.opengis.net/wfs" xmlns:wfs="http://www.opengis.net/wfs" xmlns:gml="http://www.opengis.net/gml" xmlns:ogc="http://www.opengis.net/ogc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.1.0">
      <xsd:include schemaLocation="http://schemas.opengis.net/wfs/1.1.0/wfs.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetCapabilitiesRequest">
    <wsdl:part name="Body" element="wfs:GetCapabilities"/>
  </wsdl:message>
  <wsdl:message name="DescribeFeatureTypeRequest">
    <wsdl:part name="Body" element="wfs:DescribeFeatureType"/>
  </wsdl:message>
  <wsdl:message name="GetFeatureRequest">
    <wsdl:part name="Body" element="wfs:GetFeature"/>
  </wsdl:message>
  <wsdl:message name="GetFeatureWithLockRequest">
    <wsdl:part name="Body" element="wfs:GetFeatureWithLock"/>
  </wsdl:message>
  <wsdl:message name="GetGMLObjectRequest">
    <wsdl:part name="Body" element="wfs:GetGmlObject"/>
  </wsdl:message>
  <wsdl:message name="LockFeatureRequest">
    <wsdl:part name="Body" element="wfs:LockFeature"/>
  </wsdl:message>
  <wsdl:message name="TransactionRequest">
    <wsdl:part name="Body" element="wfs:Transaction"/>
  </wsdl:message>
  <wsdl:portType name="wfs">
    <wsdl:operation name="wfs.getCapabilities">
      <wsdl:input message="wfs-req:GetCapabilitiesRequest"/>
      <wsdl:output message="wfs-resp:GetCapabilitiesResponse"/>
      <wsdl:fault name="ServiceExceptionReport" message="wfs-resp:ServiceExceptionReport"/>
    </wsdl:operation>
    <wsdl:operation name="wfs.describeFeatureType">
      <wsdl:input message="wfs-req:DescribeFeatureTypeRequest"/>
      <wsdl:output message="wfs-resp:DescribeFeatureTypeResponse"/>
      <wsdl:fault name="ServiceExceptionReport" message="wfs-resp:ServiceExceptionReport"/>
    </wsdl:operation>
    <wsdl:operation name="wfs.getFeature">
      <wsdl:input message="wfs-req:GetFeatureRequest"/>
      <wsdl:output message="wfs-resp:GetFeatureResponse"/>
      <wsdl:fault name="ServiceExceptionReport" message="wfs-resp:ServiceExceptionReport"/>
    </wsdl:operation>
    <wsdl:operation name="wfs.getFeatureWithLock">
      <wsdl:input message="wfs-req:GetFeatureWithLockRequest"/>
      <wsdl:output message="wfs-resp:GetFeatureWithLockResponse"/>
      <wsdl:fault name="ServiceExceptionReport" message="wfs-resp:ServiceExceptionReport"/>
    </wsdl:operation>
    <wsdl:operation name="wfs.getGMLObject">
      <wsdl:input message="wfs-req:GetGMLObjectRequest"/>
      <wsdl:output message="wfs-resp:GetGMLObjectResponse"/>
      <wsdl:fault name="ServiceExceptionReport" message="wfs-resp:ServiceExceptionReport"/>
    </wsdl:operation>
    <wsdl:operation name="wfs.lockFeature">
      <wsdl:input message="wfs-req:LockFeatureRequest"/>
      <wsdl:output message="wfs-resp:LockFeatureResponse"/>
      <wsdl:fault name="ServiceExceptionReport" message="wfs-resp:ServiceExceptionReport"/>
    </wsdl:operation>
    <wsdl:operation name="wfs.transaction">
      <wsdl:input message="wfs-req:TransactionRequest"/>
      <wsdl:output message="wfs-resp:TransactionResponse"/>
      <wsdl:fault name="ServiceExceptionReport" message="wfs-resp:ServiceExceptionReport"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
