SharpMap.Web/Web/Wfs/Schemas/1.1.0/wsdl/wfs-kvp-interfaces.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
   targetNamespace="http://www.opengis.net/wfs/requests/kvp"
   xmlns:wfs="http://www.opengis.net/wfs"
   xmlns:wfs-req-kvp="http://www.opengis.net/wfs/requests/kvp"
   xmlns:wfs-kvp="http://www.opengis.net/wfs-kvp"
   xmlns:wfs-req="http://www.opengis.net/wfs/requests/kvp"
   xmlns:wfs-resp="http://www.opengis.net/wfs/responses"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <wsdl:documentation xmlns:dc="http://purl.org/dc/elements/1.1/">
      <dc:identifier>urn:opengis:spec:wfs:wsdl-1.1:interfaces:1.0.1</dc:identifier>
      <dc:date>2004-06-01</dc:date>
      <dc:description>
         This is the the normative abstract service interface definition for
         the OpenGIS Web Feature Service, v1.1. The WSDL 1.1 syntax is 
         used to describe the interface signatures and message structures.
      </dc:description>
   </wsdl:documentation>

   <wsdl:import namespace="http://www.opengis.net/wfs/responses"
                location="./wfs-responses.wsdl"/>

   <wsdl:types>
      <wsdl:documentation>
         Convenience schema that defines all common WFS message elements.
      </wsdl:documentation>
      <xsd:schema targetNamespace="http://www.opengis.net/wfs"
                  xmlns:wfs="http://www.opengis.net/wfs"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  elementFormDefault="qualified" version="1.1.0">
         <xsd:import namespace="http://www.opengis.net/wfs-kvp" schemaLocation="./wfs-kvp.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="GetCapabilitiesRequest">
      <wsdl:part name="Body" element="wfs-kvp:GetCapabilities"/>
   </wsdl:message>
   <wsdl:message name="DescribeFeatureTypeRequest">
      <wsdl:part name="Body" element="wfs-kvp:DescribeFeatureType"/>
   </wsdl:message>
   <wsdl:message name="GetFeatureRequest">
      <wsdl:part name="Body" element="wfs-kvp:GetFeature"/>
   </wsdl:message>
   <wsdl:message name="GetFeatureWithLockRequest">
      <wsdl:part name="Body" element="wfs-kvp:LockFeature"/>
   </wsdl:message>
   <wsdl:message name="GetGMLObjectRequest">
      <wsdl:part name="Body" element="wfs-kvp:GetGMLObject"/>
   </wsdl:message>
   <wsdl:message name="LockFeatureRequest">
      <wsdl:part name="Body" element="wfs-kvp:LockFeature"/>
   </wsdl:message>
   <wsdl:message name="TransactionRequest">
      <wsdl:part name="Body" element="wfs-kvp:Transaction"/>
   </wsdl:message>
   <wsdl:portType name="wfs">
      <wsdl:documentation>
         This interface corresponds to the WFS (read-only)
         capability class.
      </wsdl:documentation>
      <wsdl:operation name="wfs.getCapabilities">
         <wsdl:input  message="wfs-req-kvp:GetCapabilitiesRequest"/>
         <wsdl:output message="wfs-resp:GetCapabilitiesResponse"/>
         <wsdl:fault  name="ServiceExceptionReport"
                      message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="wfs.describeFeatureType">
         <wsdl:input  message="wfs-req-kvp:DescribeFeatureTypeRequest"/>
         <wsdl:output message="wfs-resp:DescribeFeatureTypeResponse"/>
         <wsdl:fault  name="ServiceExceptionReport"
                      message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="wfs.getFeature">
         <wsdl:input  message="wfs-req-kvp:GetFeatureRequest"/>
         <wsdl:output message="wfs-resp:GetFeatureResponse"/>
         <wsdl:fault  name="ServiceExceptionReport"
                      message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="wfs.getFeatureWithLock">
         <wsdl:input  message="wfs-req-kvp:GetFeatureWithLockRequest"/>
         <wsdl:output message="wfs-resp:GetFeatureResponse"/>
         <wsdl:fault  name="ServiceExceptionReport"
                      message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="wfs.getGMLObject">
         <wsdl:input  message="wfs-req-kvp:GetGMLObjectRequest"/>
         <wsdl:output message="wfs-resp:GetGMLObjectResponse"/>
         <wsdl:fault  name="ServiceExceptionReport"
                      message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="wfs.lockFeature">
         <wsdl:input  message="wfs-req-kvp:LockFeatureRequest"/>
         <wsdl:output message="wfs-resp:LockFeatureResponse"/>
         <wsdl:fault  name="ServiceExceptionReport"
                      message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="wfs.transaction">
         <wsdl:input  message="wfs-req-kvp:TransactionRequest"/>
         <wsdl:output message="wfs-resp:TransactionResponse"/>
         <wsdl:fault  name="ServiceExceptionReport"
                      message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
