SharpMap/Web/Wfs/Schemas/2.0.0/wsdl/wfs-responses.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<wsdl:definitions 
   targetNamespace="http://www.opengis.net/wfs/responses/2.0"
   xmlns:wfs-util="http://www.opengis.net/wfs-util/2.0"
   xmlns:wfs="http://www.opengis.net/wfs/2.0"
   xmlns:ows="http://www.opengis.net/ows/1.1"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <wsdl:documentation xmlns:dc="http://purl.org/dc/elements/1.1/">
      <dc:date>2008-08-31</dc:date>
      <dc:description>
         This WSDL document defines the response messages and types
         for the WFS.
      </dc:description>
   </wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="http://www.opengis.net/wfs/2.0"
         xmlns:wfs="http://www.opengis.net/wfs/2.0"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"
         elementFormDefault="qualified" version="1.1.0">
         <xsd:include schemaLocation="../wfs.xsd"/>
         <xsd:import namespace="http://www.opengis.net/wfs-util/2.0"
            schemaLocation="./wfs-util.xsd"/>
         <xsd:import namespace="http://www.opengis.net/ows/1.1"
            schemaLocation="http://schemas.opengis.net/ows/1.1.0/owsExceptionReport.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="ServiceExceptionReport">
      <wsdl:part element="ows:ExceptionReport" name="Body"/>
   </wsdl:message>
   <wsdl:message name="GetCapabilitiesResponse">
      <wsdl:part element="wfs:WFS_Capabilities" name="Body"/>
   </wsdl:message>
   <wsdl:message name="DescribeFeatureTypeResponse">
      <wsdl:part element="wfs-util:DescribeFeatureTypeResponse" name="Body"/>
   </wsdl:message>
   <wsdl:message name="GetPropertyValueResponse">
      <wsdl:part element="wfs:ValueCollection" name="Body"/>
   </wsdl:message>
   <wsdl:message name="GetFeatureResponse">
      <wsdl:part element="wfs:FeatureCollection" name="Body"/>
   </wsdl:message>
   <wsdl:message name="GetFeatureWithLockResponse">
      <wsdl:part element="wfs:FeatureCollection" name="Body"/>
   </wsdl:message>
   <wsdl:message name="LockFeatureResponse">
      <wsdl:part element="wfs:LockFeatureResponse" name="Body"/>
   </wsdl:message>
   <wsdl:message name="TransactionResponse">
      <wsdl:part element="wfs:TransactionResponse" name="Body"/>
   </wsdl:message>
   <wsdl:message name="ListStoredQueriesResponse">
      <wsdl:part element="wfs:ListStoredQueriesResponse" name="Body"/>
   </wsdl:message>
   <wsdl:message name="DescribeStoredQueriesResponse">
      <wsdl:part element="wfs:DescribeStoredQueriesResponse" name="Body"/>
   </wsdl:message>
   <wsdl:message name="CreateStoredQueryResponse">
      <wsdl:part element="wfs:CreateStoredQueryResponse" name="Body"/>
   </wsdl:message>
   <wsdl:message name="DropStoredQueryResponse">
      <wsdl:part element="wfs:DropStoredQueryResponse" name="Body"/>
   </wsdl:message>
</wsdl:definitions>
