SharpMap/Web/Wfs/Schemas/2.0.0/wsdl/wfs-xml-interfaces.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<wsdl:definitions
   targetNamespace="http://www.opengis.net/wfs/requests/2.0"
   xmlns:wfs="http://www.opengis.net/wfs/2.0"
   xmlns:ows="http://www.opengis.net/ows/1.1"
   xmlns:wfs-req="http://www.opengis.net/wfs/requests/2.0"
   xmlns:wfs-resp="http://www.opengis.net/wfs/responses/2.0"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <wsdl:documentation xmlns:dc="http://purl.org/dc/elements/1.1/">
      <dc:identifier>urn:opengis:spec:wfs:wsdl-1.1:interfaces:2.0.0</dc:identifier>
      <dc:date>2008-08-31</dc:date>
      <dc:description>
         This is the the normative abstract service interface definition
         for the  OpenGIS Web Feature Service, v2.0.0. The WSDL 1.1 syntax is 
         used to describe the interface signatures and message structures.
      </dc:description>
   </wsdl:documentation>
   <wsdl:import namespace="http://www.opengis.net/wfs/responses/2.0"
                location="./wfs-responses.wsdl"/>
   <wsdl:types>
      <wsdl:documentation>
         Convenience schema that defines all common WFS message elements.
      </wsdl:documentation>
      <xsd:schema targetNamespace="http://www.opengis.net/wfs/2.0"
         xmlns:wfs="http://www.opengis.net/wfs/2.0"
         xmlns:gml="http://www.opengis.net/gml/3.2"
         xmlns:ogc="http://www.opengis.net/ogc/1.1"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"
         elementFormDefault="qualified" version="1.1.0">
         <xsd:include schemaLocation="../wfs.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="GetCapabilitiesRequest">
      <wsdl:part name="Body" element="wfs:GetCapabilities"/>
   </wsdl:message>
   <wsdl:message name="DescribeFeatureTypeRequest">
      <wsdl:part name="Body" element="wfs:DescribeFeatureType"/>
   </wsdl:message>
   <wsdl:message name="GetPropertyValueRequest">
      <wsdl:part name="Body" element="wfs:GetPropertyValue"/>
   </wsdl:message>
   <wsdl:message name="GetFeatureRequest">
      <wsdl:part name="Body" element="wfs:GetFeature"/>
   </wsdl:message>
   <wsdl:message name="GetFeatureWithLockRequest">
      <wsdl:part name="Body" element="wfs:GetFeatureWithLock"/>
   </wsdl:message>
   <wsdl:message name="LockFeatureRequest">
      <wsdl:part name="Body" element="wfs:LockFeature"/>
   </wsdl:message>
   <wsdl:message name="TransactionRequest">
      <wsdl:part name="Body" element="wfs:Transaction"/>
   </wsdl:message>
   <wsdl:message name="ListStoredQueriesRequest">
      <wsdl:part name="Body" element="wfs:ListStoredQueries"/>
   </wsdl:message>
   <wsdl:message name="DescribeStoredQueriesRequest">
      <wsdl:part name="Body" element="wfs:DescribeStoredQueries"/>
   </wsdl:message>
   <wsdl:message name="CreateStoredQueryRequest">
      <wsdl:part name="Body" element="wfs:CreateStoredQuery"/>
   </wsdl:message>
   <wsdl:message name="DropStoredQueryRequest">
      <wsdl:part name="Body" element="wfs:DropStoredQuery"/>
   </wsdl:message>
   <wsdl:portType name="wfs">
      <wsdl:operation name="wfs.getCapabilities">
         <wsdl:input message="wfs-req:GetCapabilitiesRequest"/>
         <wsdl:output message="wfs-resp:GetCapabilitiesResponse"/>
         <wsdl:fault name="ServiceExceptionReport"
            message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="wfs.describeFeatureType">
         <wsdl:input message="wfs-req:DescribeFeatureTypeRequest"/>
         <wsdl:output message="wfs-resp:DescribeFeatureTypeResponse"/>
         <wsdl:fault name="ServiceExceptionReport"
            message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="wfs.getPropertyValue">
         <wsdl:input message="wfs-req:GetPropertyValueRequest"/>
         <wsdl:output message="wfs-resp:GetPropertyValueResponse"/>
         <wsdl:fault name="ServiceExceptionReport"
            message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="wfs.getFeature">
         <wsdl:input message="wfs-req:GetFeatureRequest"/>
         <wsdl:output message="wfs-resp:GetFeatureResponse"/>
         <wsdl:fault name="ServiceExceptionReport"
            message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="wfs.getFeatureWithLock">
         <wsdl:input message="wfs-req:GetFeatureWithLockRequest"/>
         <wsdl:output message="wfs-resp:GetFeatureWithLockResponse"/>
         <wsdl:fault name="ServiceExceptionReport"
            message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="wfs.lockFeature">
         <wsdl:input message="wfs-req:LockFeatureRequest"/>
         <wsdl:output message="wfs-resp:LockFeatureResponse"/>
         <wsdl:fault name="ServiceExceptionReport"
            message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="wfs.transaction">
         <wsdl:input message="wfs-req:TransactionRequest"/>
         <wsdl:output message="wfs-resp:TransactionResponse"/>
         <wsdl:fault name="ServiceExceptionReport"
            message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="wfs.listStoredQueries">
         <wsdl:input message="wfs-req:ListStoredQueriesRequest"/>
         <wsdl:output message="wfs-resp:ListStoredQueriesResponse"/>
         <wsdl:fault name="ServiceExceptionReport"
            message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="wfs.describeStoredQueries">
         <wsdl:input message="wfs-req:DescribeStoredQueriesRequest"/>
         <wsdl:output message="wfs-resp:DescribeStoredQueriesResponse"/>
         <wsdl:fault name="ServiceExceptionReport"
            message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="wfs.createStoredQuery">
         <wsdl:input message="wfs-req:CreateStoredQueryRequest"/>
         <wsdl:output message="wfs-resp:CreateStoredQueryResponse"/>
         <wsdl:fault name="ServiceExceptionReport"
            message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
      <wsdl:operation name="wfs.dropStoredQuery">
         <wsdl:input message="wfs-req:DropStoredQueryRequest"/>
         <wsdl:output message="wfs-resp:DropStoredQueryResponse"/>
         <wsdl:fault name="ServiceExceptionReport"
            message="wfs-resp:ServiceExceptionReport"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
