SharpMap.Web/Web/Wfs/Schemas/2.0.0/wsdl/wfs-http-bindings.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<wsdl:definitions
   targetNamespace="http://www.opengis.net/wfs/http/2.0"
   xmlns:wfs-req="http://www.opengis.net/wfs/requests/2.0"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
   <wsdl:documentation xmlns:dc="http://purl.org/dc/elements/1.1/">
      <dc:description>
         HTTP/1.1 protocol bindings for WFS interfaces.
      </dc:description>
      <dc:date>2008-08-31</dc:date>
   </wsdl:documentation>
   <wsdl:import namespace="http://www.opengis.net/wfs/requests/2.0"
                location="./wfs-xml-interfaces.wsdl"/>
   <wsdl:binding name="wfs-POST" type="wfs-req:wfs">
      <wsdl:documentation>
         wfs interface bound to the HTTP/1.1 POST method.
      </wsdl:documentation>
      <http:binding verb="POST"/>
      <wsdl:operation name="wfs.getCapabilities">
         <http:operation location="{id}"/>
         <wsdl:input>
            <mime:mimeXml/>
         </wsdl:input>
         <wsdl:output>
            <mime:mimeXml/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.describeFeatureType">
         <http:operation location="{id}"/>
         <wsdl:input>
            <mime:mimeXml/>
         </wsdl:input>
         <wsdl:output>
            <mime:mimeXml/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.getPropertyValue">
         <http:operation location="{id}"/>
         <wsdl:input>
            <mime:mimeXml/>
         </wsdl:input>
         <wsdl:output>
            <mime:mimeXml/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.getFeature">
         <http:operation location="{id}"/>
         <wsdl:input>
            <mime:mimeXml/>
         </wsdl:input>
         <wsdl:output>
            <mime:mimeXml/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.getFeatureWithLock">
         <http:operation location="{id}"/>
         <wsdl:input>
            <mime:mimeXml/>
         </wsdl:input>
         <wsdl:output>
            <mime:mimeXml/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.lockFeature">
         <http:operation location="{id}"/>
         <wsdl:input>
            <mime:mimeXml/>
         </wsdl:input>
         <wsdl:output>
            <mime:mimeXml/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.transaction">
         <http:operation location="{id}"/>
         <wsdl:input>
            <mime:mimeXml/>
         </wsdl:input>
         <wsdl:output>
            <mime:mimeXml/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.listStoredQueries">
         <http:operation location="{id}"/>
         <wsdl:input>
            <mime:mimeXml/>
         </wsdl:input>
         <wsdl:output>
            <mime:mimeXml/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.describeStoredQueries">
         <http:operation location="{id}"/>
         <wsdl:input>
            <mime:mimeXml/>
         </wsdl:input>
         <wsdl:output>
            <mime:mimeXml/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.createStoredQuery">
         <http:operation location="{id}"/>
         <wsdl:input>
            <mime:mimeXml/>
         </wsdl:input>
         <wsdl:output>
            <mime:mimeXml/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.dropStoredQuery">
         <http:operation location="{id}"/>
         <wsdl:input>
            <mime:mimeXml/>
         </wsdl:input>
         <wsdl:output>
            <mime:mimeXml/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
