SharpMap.Web/Web/Wfs/Schemas/2.0.0/wsdl/wfs-soap-bindings.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<wsdl:definitions
   targetNamespace="http://www.opengis.net/wfs/soap/2.0"
   xmlns:wfs-req="http://www.opengis.net/wfs/requests/2.0"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
   <wsdl:documentation xmlns:dc="http://purl.org/dc/elements/1.1/">
      <dc:date>2008-08-31</dc:date>
      <dc:description>
         Adds SOAP (over HTTP) protocol bindings for WFS 2.0.0 interfaces.
      </dc:description>
   </wsdl:documentation>
   <wsdl:import namespace="http://www.opengis.net/wfs/requests/2.0"
      location="./wfs-xml-interfaces.wsdl"/>
   <wsdl:binding name="wfs-SOAP" type="wfs-req:wfs">
      <wsdl:documentation>
         WFS interface bound to SOAP over HTTP/1.1.
      </wsdl:documentation>
      <soap:binding style="document"
         transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="wfs.getCapabilities">
         <soap:operation
      soapAction="http://www.opengis.net/wfs/requests#GetCapabilities"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.describeFeatureType">
         <soap:operation
      soapAction="http://www.opengis.net/wfs/requests#DescribeFeatureType"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.getPropertyValue">
         <soap:operation
      soapAction="http://www.opengis.net/wfs/requests#GetPropertyValue"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.getFeature">
         <soap:operation
      soapAction="http://www.opengis.net/wfs/requests#GetFeature"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.getFeatureWithLock">
         <soap:operation
      soapAction="http://www.opengis.net/wfs/requests#GetFeatureWithLock"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.lockFeature">
         <soap:operation
      soapAction="http://www.opengis.net/wfs/requests#LockFeature"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.transaction">
         <soap:operation
      soapAction="http://www.opengis.net/wfs/requests#Transaction"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.listStoredQueries">
         <soap:operation
      soapAction="http://www.opengis.net/wfs/requests#ListStoredQueries"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.describeStoredQueries">
         <soap:operation
      soapAction="http://www.opengis.net/wfs/requests#DescribeStoredQueries"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.createStoredQuery">
         <soap:operation
      soapAction="http://www.opengis.net/wfs/requests#CreateStoredQuery"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="wfs.dropStoredQuery">
         <soap:operation
      soapAction="http://www.opengis.net/wfs/requests#DropStoredQuery"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="ServiceExceptionReport">
            <soap:fault use="literal" name="ServiceExceptionReport"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
